<li class="collection-item">
	<div>{{burger_name}}{{#if devour}}<a href="#" class="devourBtn secondary-content" data-id="{{id}}" data-newdevour="{{devour}}"><i class="material-icons">send</i></a>{{/if}}</div>
</li>